{% extends 'labs_app/base_2.html' %}

{% block title %}
<h2>{{ comment.name }}</h2>
{% endblock %}

{% block content %}
<h1>Comments</h1>
<h4 style="color:rgb(161, 43, 146)">Эта страница сгенерирована специально для комментария с номером : {{comment.id_com}}</h4>


<div class="alert mt-2" style="border-style: outset; background-color: rgb(247, 215, 242);">
    <h3 style="color:rgb(100,100,200)"></h3>
    <h4>Number of post: {{comment.postId}}</h4>
    <h6 style="color:rgb(160, 160, 204)">Email : {{comment.email}} </h6>
    {{comment.body}}
    <p style="font-style: italic;"></p>
</div>

{{ linebreaks }}
{% endblock %}
